html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(66, 66, 66);
    background-image: url(/imagens/background.png);
    height: 100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.cadastro_btn-link {
    color: #5E60CD;
    
}