body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

#logo_page {
    color: white;
}


.navbar {
    overflow: hidden;
    background: linear-gradient(91.53deg, #5E60CD 0%, #7401B8 164.95%);
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 12px px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
