<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .remetente {
        color: black;
      }
      .destinatario {
        color: green;
      }
    </style>
  </head>
  <body>
    <h1>Conversa de  com </h1>
    <p>Mensagem foda</p>
    <form action="enviarMensagem" method="POST">
      <input type="text" placeholder="Insira sua mensagem" name="campoMensagem" required>
      <input type="submit" value="Enviar" class="btn btn-light"></input>
    </form>
  </body>
</html>
