<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <style>
    body {
      width: 100%;
      background: linear-gradient(126.63deg, rgba(127, 255, 218, 0.2) -52.35%, rgba(94, 96, 205, 0.2) 55.99%, rgba(116, 1, 184, 0.2) 164.33%);
    }

    .h1 {
      font-weight: bold;
      color: black;
      text-decoration: none;
    }

    .titulo {
      text-align: center;
      border-bottom: 2px solid black
    }

    .termos {
      text-align: justify;
      padding: 20px;
    }
  </style>
  <title>Player Dois | Termos de Serviço</title>
</head>

<body>
  <div class="titulo mt-2 mb-2">
    <a href="#" class="h1">PLAYER DOIS</a>
    <h5>Termos e Condições</h5>
  </div>
  <div class="container termos">
    <h4>
      O Acordo do Usuário do Player Dois compreende estes Termos de Serviço, nossa Política de Privacidade, as
      Regras e Políticas do site e todas as políticas incorporadas.
    </h4>
    <p>
      Estes Termos de Serviço regem seu acesso e uso de nossos serviços, incluindo nossos vários sites, e
      quaisquer informações, textos, links, gráficos, fotos, ou outros materiais exibidos nos Serviços
      (coletivamente denominados como “Conteúdo”). Ao utilizar os Serviços, você concorda em estar sujeito a estes
      Termos.
    </p>

    <hr>
    <h4>Quem pode utilizar os serviços?</h4>
    <p>Você pode utilizar os Serviços somente se concordar em celebrar um contrato vinculante com o Player Dois e
      não for uma pessoa impedida de receber serviços das leis da jurisdição aplicável. Em qualquer hipótese, você
      deve ter no mínimo 13 anos de idade. Se estiver aceitando estes Termos e utilizando os Serviços em nome de
      uma empresa, organização, governo ou outra entidade legal, você declara e garante que está autorizado a
      realizar tal ação e que tem poderes para vincular referida entidade a estes Termos, hipótese em que as
      palavras “você” e “seu” conforme utilizadas nestes Termos farão referência a tal entidade.</p>

    <hr>
    <h4>Privacidade</h4>
    <p>Nossa Política de Privacidade descreve como manuseamos as informações fornecidas por você ao utilizar nossos
      Serviços. Você entende que, ao utilizar os Serviços, concorda com a coleta e uso (conforme estabelecido na
      Política de
      Privacidade) dessas informações.
    </p>
    <hr>
    <h4>Conteúdo nos Serviços</h4>
    <p>Você é responsável por seu uso dos Serviços e por qualquer Conteúdo fornecido, incluindo a conformidade com
      leis, regras e regulamentos aplicáveis. <strong>Você só deve fornecer Conteúdo com o qual esteja confortável
        em compartilhar com outras pessoas.</strong>
      Qualquer uso, confiança em qualquer conteúdo, materiais publicados pelos serviços ou obtidos por você pelos
      serviços é de sua inteira responsabilidade.
      Não aprovamos, apoiamos, declaramos nem garantimos a integridade, veracidade, exatidão ou confiabilidade de
      qualquer conteúdo ou comunicado publicado pelos serviços, tampouco endossamos opiniões expressas por eles.
      Você compreende que, ao utilizar os Serviços, pode estar exposto a conteúdo ofensivo, prejudicial,
      impreciso, inadequado ou, em alguns casos, a publicações identificadas de modo indevido ou fraudulentas.
      Todo o conteúdo é de responsabilidade exclusiva da pessoa que o criar. Não podemos monitorar ou controlar o
      conteúdo postado através dos serviços, e não podemos nos responsabilizar por tal conteúdo.
      <strong>Reservamo-nos o direito de remover o conteúdo que viole o Acordo do Usuário, incluindo, por exemplo,
        violações de direitos autorais ou de marcas comerciais ou outra apropriação indébita de propriedade
        intelectual, falsidade ideológica, conduta ilegal ou assédio.</strong>
    </p>
    <hr>
    <h4>Seus Direitos e a Concessão de Direitos sobre o Conteúdo</h4>
    <p>

      Você manterá seus direitos sobre qualquer conteúdo que enviar, publicar ou exibir nos Serviços ou por meio
      deles. O que for seu será seu; você é o proprietário do seu Conteúdo.

    </p>
    <p>Ao enviar, publicar ou exibir conteúdo nos serviços ou por meio deles, você nos outorga uma licença mundial
      gratuita, não exclusiva (com direito a sublicenciar) para utilizar, copiar, reproduzir, processar, adaptar,
      modificar, publicar, transmitir, exibir e distribuir esse conteúdo em qualquer e todos os tipos de mídia ou
      métodos de distribuição já disponíveis ou que venham a ser desenvolvidos (para maior clareza, esses direitos
      incluem, por exemplo, curadoria, transformação, e tradução). Esta licença nos autoriza a tornar seu conteúdo
      disponível para o restante do mundo e permite que outros usuários façam o mesmo. Você concorda que esta
      licença outorga ao Player Dois o direito de fornecer, promover e melhorar os serviços, além de tornar o
      conteúdo enviado para ou por meio dos serviços disponível a outras empresas, organizações ou pessoas que são
      parceiras do Player Dois para fins de distribuição, divulgação ou publicação dele em outros tipos de mídia e
      serviços, sujeitando-se aos nossos termos e condições de utilização de conteúdo. Tais usos adicionais por
      parte do Player Dois ou de outras empresas, organizações ou indivíduos parceiros do Player Dois ocorre sem
      que lhe seja devida qualquer remuneração pelo conteúdo que você enviar, publicar, transmitir ou,
      de outra maneira, disponibilizar por meio dos serviços uma vez que o uso dos serviços por você é acordado
      como compensação suficiente pelo conteúdo e pela concessão de direitos aqui contidos.
    </p>
    <p>O Player Dois tem um conjunto de regras em constante evolução relacionadas à forma como os parceiros do
      ecossistema podem interagir com o seu conteúdo nos serviços do Player Dois. Tais regras existem para
      possibilitar a existência de um ecossistema aberto, levando em consideração os seus direitos. Você entende
      que podemos modificar ou adaptar seu conteúdo, uma vez que ele tenha sido distribuído, publicado ou
      transmitido pelo Player Dois ou nossos parceiros e/ou fazer alterações em seu conteúdo para adaptá-lo a
      diferentes tipos de mídia.</p>
    <p>Você declara e garante que possui ou que obteve todos os direitos, licenças, consentimentos, permissões,
      poderes e/ou autorizações necessários para outorgar os direitos aqui citados para qualquer conteúdo enviado,
      postado ou exibido por você nos serviços ou por meio deles. Você concorda que o conteúdo não conterá
      materiais protegidos por direitos autorais ou outros direitos exclusivos a menos que você tenha a permissão
      necessária ou seja de outra forma legalmente autorizado
      a postar o material e a conceder ao Player Dois a licença descrita acima.
    </p>
    <hr>
    <h4>Utilização dos Serviços</h4>
    <p>
      Você pode utilizar os serviços somente em conformidade com estes Termos e todas as leis, regras e
      regulamentos aplicáveis.
    </p>
    <p>
      Nossos serviços evoluem constantemente. Sendo assim, os serviços podem ser alterados de tempos em tempos, a
      nosso exclusivo critério. Podemos interromper (permanente ou temporariamente) o fornecimento dos serviços ou
      quaisquer recursos nos serviços para você ou usuários em geral. Também podemos manter o direito de criar
      limites de uso e armazenamento, a nosso exclusivo critério
      e a qualquer momento. Nós também podemos remover ou recusar a distribuição
      de qualquer conteúdo nos serviços, limitar a distribuição ou visibilidade de qualquer sonteúdo no serviço,
      suspender ou encerrar contas de usuários e recuperar nomes de usuários sem responsabilidade perante você.

    </p>
    <p>
      O Player Dois pode oferecer determinados serviços ou recursos para os quais podem ser aplicados termos e
      condições adicionais em relação ao uso desses serviços. Ao usar ou pagar por qualquer um desses serviços
      adicionais, você concorda com quaisquer termos adicionais aplicáveis a esses serviços, e esses termos
      adicionais se tornam parte de nosso contrato com você. Se algum dos termos adicionais aplicáveis entrar em
      conflito com estes Termos, os termos adicionais prevalecerão enquanto você estiver usando os serviços aos
      quais eles se aplicam.
    </p>

    <hr>
    <h4>Sua Conta</h4>
    <p>Você pode precisará criar uma conta para utilizar nossos serviços. Você é responsável por proteger sua conta,
      portanto, use uma senha forte e limite seu uso para esta conta. Nós não podemos ser e não seremos
      responsáveis por
      qualquer perda ou dano resultante do seu não cumprimento com o descrito acima.
    </p>
    <hr>
    <h4>Cessação destes Termos</h4>
    <p>
      Você poderá cessar seu acordo legal com o Player Dois a qualquer momento desativando suas contas e
      descontinuando o uso dos Serviços.
      Poderemos suspender ou encerrar sua conta ou parar de fornecer a você toda ou qualquer parte dos serviços a
      qualquer momento e por qualquer motivo, inclusive
      – sem limitação – se tivermos motivo para acreditar que:
    <ol>
      <li>Você violou estes Termos, as Regras e Políticas do Player Dois;</li>
      <li>Você representa um risco ou possível risco jurídico para nós;</li>
      <li>Sua conta deva ser removida devido à conduta ilegal;</li>
      <li>Sua conta deva ser removida devido a inatividade prolongada;</li>
      <li>O fornecimento dos nossos serviços a você não é mais viável comercialmente</li>
    </ol>
    Nós realizaremos esforços razoáveis para notificá-lo por e-mail pelo endereço associado à sua conta ou na
    próxima ocasião em que você tentar acessar sua conta, dependendo das circunstâncias.
    </p>
    <hr>
    <h4>Geral</h4>
    <p>Poderemos revisar estes Termos de tempos em tempos. As modificações não serão retroativas, regerá nossa
      relação com você. Exceto no caso de alterações quanto a novas funções ou que sejam feitas para atender a
      demandas legais, você será notificado quanto ao caso de alterações a esses Termos que afetem direitos ou
      obrigações de qualquer parte deste Termos. Ao continuar a acessar ou utilizar os serviços após a data de
      entrada em vigor das revisões, você aceita sujeitar-se à versão alterada dos Termos.</p>
    <hr>
    <h1>Política de Privacidade</h1>
    <P>Antes de prosseguir, note o seguinte:</P>
    <p>É realmente difícil contentar a todos com uma Política de Privacidade.
      A maioria das pessoas que usam o Player Dois querem algo curto e fácil de compreender.
    </p>
    <P>Tendo isso em mente, formulamos nossa Política de Privacidade da maneira mais simples possível, <strong> a
        fim de capacitá-lo
        a tomar decisões informadas quando você usar o Player Dois, assegurando que você compreenda e tenha
        controle sobre as informações que coletamos, como são usadas e quando são compartilhadas.</strong>
    </p>
    <p>Portanto, caso você deixe de ler integralmente nossa Política de Privacidade, pelo menos saiba que:</p>
    <ul>
      <li>O Player Dois é uma plataforma pública.</li>
      <li>Coletamos alguns dados sobre você:
        <ul>
          <li>Nome de usuário</li>
          <li>Data de Nascimento</li>
          <li>Sexo</li>
        </ul>
      </li>
      <li>Utilizamos seus dados para tornar o Player Dois melhor.</li>
    </ul>
    <hr>
    <h4><strong>Informações que coletamos</strong></h4>
    <p>As informações que coletamos quando você usa o Player Dois se encaixam em duas categorias.</p>
    <h5>Informações que você nos fornece</h5>
    <p>Para usar alguns de nossos produtos e serviços você precisa ter uma conta e para criar uma conta, você
      precisa fornecer-nos certas informações. Da mesma forma, se você usar nossos produtos. Basicamente, as
      informações são necessárias para você quiser usar nossos produtos e serviços.</p>
    <p>Contas Pessoais. Se você criar uma conta, deve fornecer-nos algumas informações para que possamos prestar-lhe
      nossos serviços: Um nome de usuário (por exemplo, @MomentosnoPlayerDois), uma senha, uma data de nascimento
      e seu sexo.</p>
    <p>Suas informações de perfil, que incluem seu nome de apresentação e nome de usuário, são sempre públicas, mas
      você pode usar ou seu nome verdadeiro ou um pseudônimo. E lembre-se, você pode criar várias contas no Player
      Dois, por exemplo, para expressar diferentes partes de sua identidade.</p>
    <h5>Informações que coletamos quando você usa o Player Dois</h5>
    <p>Quando você utiliza nossos serviços, coletamos informações sobre como você utiliza nossos produtos e
      serviços. Usamos essas informações para fornecer-lhe produtos e serviços, para ajudar a manter o Player Dois
      mais seguro e respeitoso para todos, bem como mais relevante para você.</p>
    <p>Informações sobre o Uso. Coletamos informações sobre sua atividade no Player Dois, incluindo:</p>
    <ul>
      <li>Os conteúdos que você publica e informações sobre sua atividade, incluindo grupos que você criou e
        quando você os criou, suas listas de amigos e comunidades das quais você faz parte.</li>
      <li>Coletamos informações sobre links com os quais você interage através de nossos serviços.</li>
    </ul>
    <hr>
    <h4><strong>Como Utilizamos as Informações</strong></h4>
    <h4>"Meus grupos são públicos?"</h4>
    <p>Sim! A partir do momento que você cria um grupo, todos podem vê-lo e acessá-lo</p>
    <hr>
    <h1>Regras do Player Dois</h1>
    <p>A finalidade do Player Dois é proporcionar o diálogo público. Violência, assédio e outros tipos de
      comportamento
      semelhantes impedem que as pessoas se expressem e diminuem o valor do diálogo público global. Nossas regras
      foram criadas para garantir que todas as pessoas possam participar do diálogo público com liberdade
      e segurança.
    </p>
    <h4>Segurança</h4>
    <ul>
      <li><strong>Violência:</strong> não é permitido fazer ameaças de violência contra um indivíduo ou um grupo
        de pessoas. Também proibimos a glorificação da violência. </li>
      <li><strong>Terrorismo/Extremismo violento:</strong> não é permitido ameaçar nem promover terrorismo ou
        extremismo violento. </li>
      <li><strong>Exploração sexual de menores:</strong> o Player Dois tem uma política de tolerância zero em
        relação à exploração sexual de menores.</li>
      <li><strong>Abuso/Assédio:</strong> não é permitido se envolver no assédio direcionado a alguém nem incitar
        outras pessoas a fazer isso, inclusive desejar que alguém sofra lesões.</li>
      <li><strong>Conduta de propagação de ódio:</strong> também não é permitido promover violência, ameaçar ou
        assediar outras pessoas com base em raça, etnia, nacionalidade, orientação sexual, gênero, identidade de
        gênero, religião, idade, deficiência ou doença grave. </li>
      <li><strong>Autores de ataques violentos:</strong> Removeremos contas mantidas por autores individuais de
        ataques terroristas, extremistas violentos ou violentos em massa e também poderemos remover grupos que
        disseminam manifestos ou outros conteúdos produzidos por autores. </li>
      <li><strong>Suicídio ou automutilação:</strong> não é permitido promover nem incentivar o suicídio
        ou a automutilação.
      </li>
      <li><strong>Mídia sensível, incluindo violência explícita e conteúdo adulto:</strong>
        não é permitido publicar mídias que contêm conteúdo excessivamente sangrento nem compartilhar conteúdo
        violento ou sexual.
        Mídias que representam violência sexual e/ou agressão também não são
        permitidas.
      </li>
      <li><strong>Produtos ou serviços ilegais ou regulamentados:</strong> não é permitido usar nosso
        serviço para nenhuma finalidade ilegal ou como auxílio a atividades ilegais.
        Isso inclui venda, compra ou facilitação de transações em produtos ou serviços ilegais, bem como
        determinados tipos de produtos ou serviços regulamentados.
      </li>
    </ul>
    <h4>Privacidade</h4>
    <ul>
      <li><strong>Informações privadas:</strong>
        é proibido publicar ou postar informações privadas de outras pessoas (como número de telefone e endereço
        residencial) sem a permissão e a autorização expressa delas. Também é proibido ameaçar expor informações
        privadas ou incentivar outras pessoas a fazer isso.</li>
      <li><strong>Nudez não consensual:</strong>
        não é permitido publicar ou compartilhar fotos ou vídeos íntimos de alguém que tenham sido produzidos ou
        distribuídos sem o consentimento dessa pessoa. </li>
    </ul>
    <h4>Autenticidade</h4>
    <ul>
      <li><strong>Spam e manipulação da plataforma:</strong> não é permitido usar os serviços do Player Dois com o intuito de amplificar ou suprimir informações artificialmente ou se envolver em comportamento que manipule ou prejudique a experiência das pessoas no Player Dois.</li>
      <li><strong>Integridade cívica:</strong> você não pode usar os serviços do Player Dois para manipular ou interferir em eleições ou outros atos cívicos. Isso inclui publicar ou compartilhar conteúdo que suprima a participação ou induza as pessoas ao erro sobre quando, onde ou como participar de um ato cívico. </li>
      <li><strong>Identidades enganosas e que induzem ao erro:</strong> não é permitido assumir a identidade de pessoas, grupos ou organizações com a intenção de iludir, confundir ou induzir ao erro outras pessoas, nem usar identidade falsa de modo que prejudique a experiência de outras pessoas no Player Dois.</li>
      <li><strong>Mídias sintéticas e manipuladas:</strong> não é permitido compartilhar de maneira enganosa mídias sintéticas ou manipuladas que provavelmente causarão danos. Além disso, podemos marcar grupos que contêm mídias sintéticas e manipuladas para ajudar as pessoas a entender a autenticidade delas e fornecer mais contexto.</li>
      <li><strong>Direitos autorais e marca registrada:</strong> não é permitido violar os direitos de propriedade intelectual de outras pessoas, incluindo direitos autorais e de marca registrada.</li>
    </ul>
  </div>


  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

</body>

</html>