@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  width: 100%;
  color: white;
  font-family: "Poppins", sans-serif;
}
.bg {
  background: url("./background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.caixa_login {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  text-align: center;
  min-height: 100vh;
  display: grid;
  align-items: center;
}
.logo {
  line-height: 0.5;
}
.inputs {
  padding: 10%;
  padding-bottom: 15%;
}

.input_decoracao {
  background: rgba(0, 0, 0, 0.55) ;
  border-radius: 25px;
  color: white;

}
.input_decoracao:focus {
  background: rgba(0, 0, 0, 0.55) ;
  color: white;
}

#campo_txt_login {
  text-align: left;
  margin: auto;
}

.botao_entrar {
  background-color: white;
  color: #4b1499;
  transition-duration: 0.25s;
}

.botao_entrar:hover {
  background-color: #4b1499;
  color: white;
}

/* POPUP DO CADASTRO */
.modal-content {
  background: linear-gradient(
      126.63deg,
      rgba(127, 255, 218, 0.2) -52.35%,
      rgba(94, 96, 205, 0.2) 55.99%,
      rgba(116, 1, 184, 0.2) 164.33%
    ),
    #000000;
}

.modal-header,
.modal-footer {
  border: 0 none;
}
